
  /*
  * Copyright (c) 2020 The ZMK Contributors 
  * SPDX-License-Identifier: MIT 
  */ 
  
  #include <behaviors.dtsi> 
  #include <dt-bindings/zmk/keys.h> 
  #include <dt-bindings/zmk/bt.h> 

#define DEF 0 
#define NAV 1 

/ {
  behaviors {
    hm: homerow_mods {
        compatible = "zmk,behavior-hold-tap";
        label = "HOMEROW_MODS";
        #binding-cells = <2>;
        tapping-term-ms = <300>;
        quick-tap-ms = <200>;
        flavor = "tap-preferred";
        bindings = <&kp>, <&kp>;
    };
};
  keymap {
compatible = "zmk,keymap";

DEF_layer {
        label = "DEF";
        bindings = <
          &none       &kp Q      &kp LC(RA(B))     &kp LC(RA(B))      &kp LC(RA(B))     &kp LC(RA(B))     &kp Y      &kp U      &kp I      &kp O      &kp P     &none 
          &none       &kp A      &kp LC(RA(B))      &kp LC(RA(B))     &kp L     &kp L      &kp H      &kp J      &kp K      &kp L      &kp Q     &none 
          &none       &kp Z      &kp X      &kp C      &kp V      &kp B      &kp N      &kp M      &kp Q      &kp Q      &kp Q     &none 
                                          &kp Q      &kp Q      &kp Q      &kp Q      &kp Q      &kp Q
        >;
      };
        
NAV_layer {
        label = "NAV";
        bindings = <
          &none       &kp Q      &kp Q      &kp Q      &kp Q      &kp Q      &kp Q      &kp Q      &kp Q      &kp Q      &kp Q     &none 
          &none       &kp Q      &kp Q      &kp Q      &kp Q      &kp Q      &kp Q      &kp Q      &kp Q      &kp Q      &kp Q     &none 
          &none       &kp Q      &kp Q      &kp Q      &kp Q      &kp Q      &kp Q      &kp Q      &kp Q      &kp Q      &kp Q     &none 
                                          &kp Q      &kp Q      &kp Q      &kp Q      &kp Q      &kp Q
        >;
      };
        
  };
};
    
